.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 12px;
}

.search-bar-checkbox__title {
  margin-top: 5px;

  font-size: 12px;
}
